<div class="footer">
<div class="Privacy-item">
    <ul>
        <li>Privacy Policy</li>
        <li>Terms & conditions</li>
    </ul>
</div>
<div class=" form">
    <h1>Join our family and receive our updates  </h1>
    <input type="text" placeholder="write your e-mail">
    <button>subscribe</button>
</div>
<div class="follow-us">
    <h1>follow us</h1>
    <ul>
        <li>nasr city ,egypt</li>
        <li>+966 54 119 5951</li>
        <li>moamen_zakaria@yahoo.com</li>
    </ul>
    <h4></h4>
</div>
</div>