<div class="slider">
    <button>book your appoinment </button>
  </div>
  <div class="info">
    <h1>book a session</h1>
    <h3>Book your session now and start embracing your uniqueness and live the life of your dreams</h3>
    
  
  </div>
  
  <div class="book-carer">
    <div class="coaching">
        <h1>coaching</h1>
        <img src="../../assets/img_avatar2_1630325569.png">
        <button>book your appoinment </button>
            </div>
    <div class="counseling">
      <h1>counseling</h1>
      <img src="../../assets/kkk.jpg">
      <button>book your appoinment </button>
    </div>

</div>
<div class='download'>
<div class="text">
    <h1>Kon Corporate Services</h1>
    <p>Providing a comprehensive range of corporate services by a team of the leading
         HR experts in the market with the highest credentials and proven
         experience to help companies maximize the value of their most valuable asset, their people</p>
         <button>Download kon profile</button> 
</div><div class="image">
    <img src='../../assets/onlinelibrary.png'>
</div>

</div>