

<div class='about-slider'>
    <h1>our vision</h1>
    <h3>To be the destination for every entity desiring to transform for the better</h3>
</div>
<div class="vlue">
    <div class="one">
        <img src="../../assets/value1.png" alt="1">
        <button>trust</button>
    </div>
    <div class="second">
        <img src="../../assets/value2.png" alt="2">
        <button>responsibilty</button>
    </div>
    <div class="third">
        <img src="../../assets/value3.png" alt="3" >
        <button>mutuality</button>
    </div>
</div>
<div class="body-img">
    <div class="our">
        <h1>our story</h1>
        <h3>one upon a time</h3>
    </div>
   
</div>