<div class="azhar">
    
</div>


<div class="service">
    <div class="first-serv">
        <h1>coaching</h1>
        <p>We provide a wide range of coaching services to enable your personal and professional transformation</p>
        <ul>
            <li><button>carer coaching</button></li>
            <li><button>relationship coaching</button></li>
            <li><button>life coaching</button></li>
            <li><button>leadership coaching</button></li>
            
        </ul>
    </div>
    <div class="second-serv">
        <h1>counseling</h1>
        <p>We help you deal with your mental health challenges
             and provide you with the best counseling services in a safe, caring, and confidential environment</p>
             <button>applied behavior analysis</button>
    </div>
</div>