<p>our program</p>
<div class="users">
    <div class="one">
        <div class="cr">
            <img src="../../assets/a09TxL_1_400x400.jpg">
            <h1>ronaldo</h1>
            <h3>course</h3>
            <h2>7</h2>
            <button>enroll</button>
        </div>
       
    </div>
<div class="two">
    <div class="ko">
        <img src="../../assets/308472-1619018466.jpg">
    <h1>afsha</h1>
    <h3>course</h3>
    <h2>19</h2>
    <button>enroll</button>
    </div>
    

</div>

<div class="three">
<div class="ali">
    
    <img src="../../assets/1392408_0.jpg">
<h1>ali maloul</h1>
<h3>course</h3>
<h2>21</h2>
<button>enroll</button></div>


</div>

</div>
